*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
}
.content-login{
    width: 100%;
    height: 100vh;
}
.item-login h1{
    color: #2f9e2f;
}
.alert-login{
    background-color: #d34f4f;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
}
.item-login{
    max-width: 100%;
    min-width: 100%;
    min-height: 50%; 
    position: relative;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.campo{
    margin-top: 20px;
    padding: 8px;
    min-width: 200px;
    border: 1px solid beige;
}
.btn{
    margin-top: 20px;
    padding: 8px;
    min-width: 100px;
    background-color: #20c220;
    border: 2px solid #20c220;
    color: white;
    transition: 0.5s all;
    border-radius: 4px;
}
.btn:hover{
    background-color: #2f9e2f;
    border: 2px solid #2f9e2f;
}
.alert-login{
    background-color: #b15454;
    color: #fff;
}